<div>
    <ul  *ngFor = "let c of course?.getChallenges()">
        <app-challenge-dropdown class="dropdown"></app-challenge-dropdown>
        <div class="container" [innerHTML] = "c.getTitle()"> </div>
        <div class='corners' [innerHTML] = "c.getDescription().split('*')[0]"></div>
        <div class='rcorners' [innerHTML] = "c.getDescription().split('*')[1]"></div>
        <div class='lcorners' [innerHTML] = "c.getDescription().split('*')[2]"></div>
        <h1><ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="code"></ngx-monaco-editor></h1> 
        <span><button (click)="evaluateChallenge()">Atis Tirma</button></span>
    </ul>
    
</div>