<main class="general">
    <div class="container">
        <div class="text">
            <span class="first">First Course in Academy Wars!</span><br />
            <span class="second">Entra para informarte sobre las lecciones del curso.</span>
        </div>
        <img src="https://pngimg.com/uploads/letter_c/letter_c_PNG22.png" width="128px" height="128px" alt="Logo de C">
    </div>

    <div class="acordeon">
        <h2>Available Soon!</h2>
        <div class="courses">
            <div *ngFor="let c of future_courses" class="course">
                <img class="img" src="{{c.course_image}}" alt="{{c.course_name}}">
                <span class="name">{{c.course_name}}</span>
            </div>
        </div>
    </div>
</main>