@import '../../styles.scss';

.general {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
}

.courses,
.container,
.course {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(black, .5);
    border-radius: 20px;
}

.container {
    width: 80%;
    height: 300px;
    background: #757F9A;
    background: linear-gradient(to right, #D7DDE8, #b1bfd8);


    transition: all .3s ease;
    border: 10px solid #D7DDE8;
    box-shadow: 0 10px 5px 5px rgba($black, .5);

    &:hover {
        box-shadow: 0 20px 10px 10px rgba($black, .5);
        background-color: rgba($white, .9);
        border: 10px solid $golden;
        cursor: pointer;
    }

}

.text {
    text-align: center;
    padding: 25px;
    color: $black;

    .first {
        font-size: 48px;
        padding: 25px;
        text-align: center;
    }

    .second {
        font-size: 36px;
        text-align: center;
        padding: 25px;
    }
}

img {
    height: 300px;
    width: 300px;
}

.acordeon {
    width: 100vw;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

h2 {
    margin-bottom: -50px;
    font-size: 30px;
    color: #D7DDE8;
}

.courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
    width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.course {
    background: #D7DDE8;
    width: 500px;
    height: 175px;
    padding: 10px;
    transition: all .3s ease;
    border: 5px #D7DDE8 solid;
    display: grid;
    justify-items: center;
    object-fit: cover;
    scroll-snap-align: center;

    .name {
        width: 100%;
        font-size: 22px;
        padding: 10px;
        text-align: center;
        font-weight: bolder;
        transition: all .3s ease;
    }

    .img {
        width: 100px;
        height: 80px;
        object-fit: contain;
        transition: all .3s ease;
    }

    &:hover {
        border: 5px $golden solid;

        .name {
            font-size: 24px;
        }
    }
}