<div class="bg">
    <h2>Enter to continue learning</h2>
    <form class="form" #form="ngForm" (ngSubmit)="onLogin(form.controls)">
        <label>
            <input class="input" type="mail" placeholder="" required pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`
                            {|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
                #mail=ngModel ngModel name="mail">
            <span>
                Email
                <!-- Errores de correo -->
                <span *ngIf="(mail.dirty || mail.touched) && mail.invalid" class="error-msg">
                    <span *ngIf="mail.errors?.['required']">
                        - Please write your e-mail.
                    </span>
                    <span *ngIf="mail.errors?.['pattern']">
                        - Not adequate e-mail.
                    </span>
                </span>
                <!-- Fin errores correo -->
            </span>
        </label>
        <label>
            <input class="input" placeholder="" type="password" #password=ngModel ngModel name="password" required
                pattern="^[A-Za-z0-9,._-]{6,}$">
            <span>
                Password
                <!-- Errores de contraseña -->
                <span *ngIf="(password.dirty || password.touched) && password.invalid" class="error-msg">
                    <span *ngIf="password.errors?.['required']">
                        - Please write your password.
                    </span>
                    <span *ngIf="password.errors?.['pattern']">
                        - Only use alphanumericals and ",._-".
                    </span>
                </span>
                <!-- Fin errores contraseña -->
            </span>
        </label>
        <button class="login-btn submit-btn" [disabled]="form.invalid">
            <span>Login</span>
        </button>
    </form>
</div>