<div class="container">
    <div class="dropdown" (click)="openDisplay('low')">
        <h2>Low Level Challenges</h2>
        <div class="dropdown-content displayed" id="low">
            <span *ngFor="let c of lowChallenges">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
    <div class="dropdown" (click)="openDisplay('mid')">
        <h2>Medium Level Challenges</h2>
        <div class="dropdown-content" id="mid">
            <span *ngFor="let c of medChallenges">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
    <div class="dropdown" (click)="openDisplay('high')">
        <h2>High Level Challenges</h2>
        <div class="dropdown-content" id="high">
            <span *ngFor="let c of hardChallenges">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
</div>