.body {
  overflow-y: auto;
}

.rcorners {
  border-radius: 25px;
  background: #8E9DCC;
  padding: 20px;
  text-align: justify;
  margin-left: 35%;
  margin-right: 35%;
}

.lcorners {
  padding: 25px;
  width: auto;
  height: fit-content;
  text-align: justify;
  margin-left: 10%;
}

.corners {
  padding: 20px;
  text-align: justify;
  margin-left: 10%;
}

.container {
  background: #7D84B2;
  font-weight: bold;

  transition: all .3s ease;
  box-shadow: 0 10px 5px 5px rgba(#000000, .5);
  text-align: center;
  color: #000000;
  font-size: 40px;
  padding: 25px;

}

li {
  background-color: #D9DBF1;
}

.addition {
  margin-top: 25px;
  border-radius: 25px;
  background: #8E9DCC;
  padding: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

.father {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  border-radius: 10px;
  border: 2px solid black;
  background-color: #D9DBF1;
  font-weight: bold;
  cursor: pointer;
  width: 250px;
  height: 75px;

  &:hover {
    background-color: #7D84B2;
  }

  &.left {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  &.right {
    margin-right: 50px;
    margin-bottom: 50px;
  }
}