/* You can add global styles to this file, and also import other style files */
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

/* Include the common styles for Angular Material. We include this here so that you only
have to load a single css file for Angular Material in your app.
Be sure that you only ever include this mixin once! */
@include mat.core();

@import './styles/_colors';
@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Poppins,wght@1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Carlito', sans-serif;
}

.general {
    padding-top: 75px;
    height: calc(95vh - 75px);
    width: 100%;
    background: $black;
    background: -webkit-linear-gradient(to top, $gray, $black);
    background: linear-gradient(to top, $gray, $black);
}