<main class="body">
    <div class="bar-and-button">
        <button  type="button" class="navbar-toggler" (click)="toggleSideNav()">
            <span class="navbar-toggler-icon">X</span>
        </button>
        <div class="sidebar" *ngIf="hideSideNav">
            <button  type="button" class="navbar-toggler" (click)="toggleSideNav()">
                <span class="navbar-toggler-icon">X</span>
            </button>
            <li *ngFor="let fruit of fruits">
                {{fruit.name}}
            </li>
        </div>

    </div>
</main>
        