<main class="body">
    <div class="bar-and-button">
        <button  type="button" class="navbar-toggler" (click)="sideNavService.toggleSideNav()">
            <span class="navbar-toggler-icon">X</span>
        </button>
        <nav class="sidebar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
            <button  type="button" class="navbar-toggler" (click)="sideNavService.toggleSideNav()">
                <span class="navbar-toggler-icon">X</span>
            </button>
            <li *ngFor="let fruit of fruits">
                {{fruit.name}}
            </li>
        </nav>

    </div>
</main>
        