.sidebar{
    width: 200px;
    background-color: #000;
    transition: width 0.3s;
}
.body {
    top: 20vh;
    bottom: 20vh;
    right: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    float: right;
}

.button {
    position: fixed;
    right: inherit;
}

.sidebar li {
    padding: 15px;
    display: block;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
}

li{
    color:aliceblue;
}