<div class="body">
    <button  type="button" class="button" (click)="toggleSideNav()">
        <span class="navbar-toggler-icon">X</span>
    </button>
    <div class="sidebar" *ngIf="hideSideNav">
        <button  type="button" class="navbar-toggler" (click)="toggleSideNav()">
            <span class="navbar-toggler-icon">X</span>
        </button>
        <li *ngFor="let l of course?.getLessons()">
            <div class="container" [innerHTML] = "l.getTitle()"> </div>
        </li>
    </div>
</div>
        