@import "../../../styles.scss";
.flex {
    align-items: center;
}

.display {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    row-gap: 20px;
    width: 250px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px 0;
    background-color: $gray;

    h2 {
        text-align: center;
    }
}

.obj {
    border-radius: 5px;
    width: 125px;
    height: 125px;
    transition: all .4s ease;

    .icon {
        width: 64px;
        height: 64px;
        fill: $white;
        transition: all .4s ease;
        margin-right: 0;
    }

    span {
        font-size: 20px;
        font-weight: bold;
    }

    &:hover {
        
        background-color: rgba(black, .5);

        cursor: pointer;

        .icon {
            fill: $light-golden;
        }
    }
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    filter: brightness(.85) contrast(.5);
    box-shadow: 0px 5px 5px rgba(black, .5);
    cursor: not-allowed;
}

.active{
    background-color: black;
    .icon {
        fill: $light-golden;
    }
}