<div class="container">
    <div class="dropdown" (click)="openDisplay('low')">
        <h2>Low Level Lessons</h2>
        <div class="dropdown-content displayed" id="low">
            <span *ngFor="let c of lowLessons">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
    <div class="dropdown" (click)="openDisplay('mid')">
        <h2>Medium Level Lessons</h2>
        <div class="dropdown-content" id="mid">
            <span *ngFor="let c of medLessons">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
    <div class="dropdown" (click)="openDisplay('high')">
        <h2>High Level Lessons</h2>
        <div class="dropdown-content" id="high">
            <span *ngFor="let c of hardLessons">
                {{c.getTitle()}}<br />
            </span>
        </div>
    </div>
</div>