<div class="body">
    <button  type="button" class="button" (click)="toggleSideNav()">
        <span class="toggler">
            <p *ngIf="hideSideNav">
                >
            </p>
            <p *ngIf="!hideSideNav">
                <
            </p>
        </span>
    </button>
    <div class="sidebar" [hidden]="!hideSideNav">
        <li *ngFor="let l of course?.getChallenges()">
            <span (click)="openChallenge(l.getTitle())">
                <div class="container" [innerHTML] = "l.getTitle()"> </div>
            </span>
        </li>
    </div>
</div>