<main class="general">
    <h2>{{course[0]?.getName()}}</h2>
    <section class="section-container">
        <app-dropdown-challenges *ngIf="show.challenges"></app-dropdown-challenges>
        <app-dropdown-lessons *ngIf="show.lessons"></app-dropdown-lessons>
        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="code"></ngx-monaco-editor>
    </section>

    <aside class="aside-container">
        <app-course-menu (miEvento)="getView($event)"></app-course-menu>
    </aside>
</main>