@import '../../styles.scss';

.general {
    color: white;
    display: grid;
    grid-template:
        'title title title titile aside aside aside'
        'title title title titile aside aside aside'
        'section section section section aside aside aside'
        'section section section section aside aside aside'
        'section section section section aside aside aside'
        'section section section section aside aside aside'
        'section section section section aside aside aside'
}

h2 {
    grid-area: title;
}

.section-container {
    width: 90%;
    height: 100%;
    padding: 25px;
    grid-area: section;
}

.aside-container {
    grid-area: aside;
}